.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  pointer-events: none;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.title {
  display: flex;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.button_container {
  display: flex;
  align-items: center;
}
